In [11]:
import boto3
from botocore.client import Config
import pandas as pd
import io

In [9]:
# MinIO credentials and endpoint
ACCESS_KEY = 'minio'
SECRET_KEY = 'minio123'
MINIO_URL = 'http://172.23.0.6:9000'
BUCKET_NAME = 'timeseriesbucket'  # Replace with the name of the bucket you created

In [10]:
# Initialize a session using Amazon S3 service and endpoint
session = boto3.session.Session()
s3_client = session.client('s3',
                           endpoint_url=MINIO_URL,
                           aws_access_key_id=ACCESS_KEY,
                           aws_secret_access_key=SECRET_KEY,
                           config=Config(signature_version='s3v4'))

# For example, to list objects in your bucket:
for obj in s3_client.list_objects(Bucket=BUCKET_NAME)['Contents']:
    print(obj['Key'])

inflacion.csv
leliqs.csv

In [12]:
# Fetch the CSV file from MinIO
csv_obj = s3_client.get_object(Bucket=BUCKET_NAME, Key="inflacion.csv")

In [13]:
csv_obj

{'ResponseMetadata': {'RequestId': '178E844583948505',
  'HostId': 'dd9025bab4ad464b049177c95eb6ebf374d3b3fd1af9251148b658df7ac2e3e8',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'accept-ranges': 'bytes',
   'content-length': '1066',
   'content-type': 'text/csv',
   'etag': '"798b7878a8b8b7e8615185cfa9d56282"',
   'last-modified': 'Mon, 16 Oct 2023 06:55:15 GMT',
   'server': 'MinIO',
   'strict-transport-security': 'max-age=31536000; includeSubDomains',
   'vary': 'Origin, Accept-Encoding',
   'x-amz-id-2': 'dd9025bab4ad464b049177c95eb6ebf374d3b3fd1af9251148b658df7ac2e3e8',
   'x-amz-request-id': '178E844583948505',
   'x-content-type-options': 'nosniff',
   'x-xss-protection': '1; mode=block',
   'date': 'Mon, 16 Oct 2023 06:59:03 GMT'},
  'RetryAttempts': 0},
 'AcceptRanges': 'bytes',
 'LastModified': datetime.datetime(2023, 10, 16, 6, 55, 15, tzinfo=tzutc()),
 'ContentLength': 1066,
 'ETag': '"798b7878a8b8b7e8615185cfa9d56282"',
 'ContentType': 'text/csv',
 'Metadata': {},
 'Body': <botocore.response.StreamingBody at 0x7fda16c4f100>}

In [14]:
csv_body = csv_obj['Body'].read()

In [15]:
csv_body

b'x,inflacion\n"2019,00658","49,704"\n"2019,08616","53,283"\n"2019,20334","55,442"\n"2019,30898","55,223"\n"2019,44088","53,346"\n"2019,5314","52,887"\n"2019,59908","50,285"\n"2019,67087","51,248"\n"2019,73141","52,922"\n"2019,7956","53,409"\n"2019,88211","50,335"\n"2019,94976","47,496"\n"2020,02503","45,371"\n"2020,12668","42,775"\n"2020,22102","42,792"\n"2020,3152","41,145"\n"2020,40541","37,359"\n"2020,47711","37,372"\n"2020,59776","36,206"\n"2020,66961","37,882"\n"2020,7717","40,039"\n"2020,86249","42,431"\n"2020,92703","46,482"\n"2021,00268","48,397"\n"2021,06697","49,834"\n"2021,13125","51,271"\n"2021,2105","51,285"\n"2021,28229","52,248"\n"2021,3804","52,266"\n"2021,49725","50,861"\n"2021,61048","51,119"\n"2021,67857","52,794"\n"2021,76945","56,137"\n"2021,86421","60,669"\n"2021,92109","63,53"\n"2021,98951","68,77"\n"2022,04658","73,771"\n"2022,09997","79,721"\n"2022,19476","84,49"\n"2022,27837","90,683"\n"2022,50961","101,893"\n"2022,60413","103,811"\n"2022,65743","108,81"\n"2022,71819","112,861"\n"2022,80146","115,489"\n"2022,86936","115,264"\n"2022,93396","120,028"\n"2022,97213","124,549"\n'

In [16]:
# Convert the CSV bytes to pandas DataFrame
df = pd.read_csv(io.BytesIO(csv_body))

In [17]:
# Display the first few rows
df

             x inflacion
0   2019,00658    49,704
1   2019,08616    53,283
2   2019,20334    55,442
3   2019,30898    55,223
4   2019,44088    53,346
5    2019,5314    52,887
6   2019,59908    50,285
7   2019,67087    51,248
8   2019,73141    52,922
9    2019,7956    53,409
10  2019,88211    50,335
11  2019,94976    47,496
12  2020,02503    45,371
13  2020,12668    42,775
14  2020,22102    42,792
15   2020,3152    41,145
16  2020,40541    37,359
17  2020,47711    37,372
18  2020,59776    36,206
19  2020,66961    37,882
20   2020,7717    40,039
21  2020,86249    42,431
22  2020,92703    46,482
23  2021,00268    48,397
24  2021,06697    49,834
25  2021,13125    51,271
26   2021,2105    51,285
27  2021,28229    52,248
28   2021,3804    52,266
29  2021,49725    50,861
30  2021,61048    51,119
31  2021,67857    52,794
32  2021,76945    56,137
33  2021,86421    60,669
34  2021,92109     63,53
35  2021,98951     68,77
36  2022,04658    73,771
37  2022,09997    79,721
38  2022,19476     84,49
39  2022,27837    90,683
40  2022,50961   101,893
41  2022,60413   103,811
42  2022,65743    108,81
43  2022,71819   112,861
44  2022,80146   115,489
45  2022,86936   115,264
46  2022,93396   120,028
47  2022,97213   124,549